@if (open) {
  <div tabindex="-1" aria-hidden="true" class="fixed inset-0 z-[1100] flex items-center justify-center p-4">
    <div class="absolute inset-0 bg-black/40"></div>
    <div class="relative w-full max-w-lg bg-white rounded-lg shadow border">
      <div class="flex items-center justify-between p-4 border-b rounded-t">
        <h3 class="text-base font-semibold text-gray-900">{{ title }}</h3>
        <button type="button" class="text-gray-400 hover:text-gray-600" (click)="close.emit()">
          <span class="sr-only">Cerrar</span>
          <svg class="w-4 h-4" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
      <div class="p-4">
        <ng-content />
      </div>
    </div>
  </div>
}

